@model Hotspot.Models.Seller.SellerListViewModel

@{
    ViewData["Title"] = "Vendedores por Cidade";
}


<h2>Vendedores</h2>
<hr />
<div class="container">
    <div class="row mb-2">
        <a class="btn btn-success mr-1" asp-action="Add" asp-controller="Seller">Cadastrar Vendedor</a>
        <a class="btn btn-secondary" asp-action="Index">Voltar</a>
    </div>
    <div class="row mb-2">
        <form class="form-inline" method="post">
            <input asp-for="Search" type="text" placeholder="Nome ou CPF" class="form-control mr-2" autofocus="autofocus" onFocus="this.select()" />
            <div class="form-group mr-1">
                <select asp-for="LocaleId" class="form-control">
                    <option value="-1">Todas as Localidades</option>
                    @if (ViewBag.Locales != null)
                    {
                        @foreach (var locale in ViewBag.Locales)
                        {
                            <option value="@locale.Id">@locale.City, @locale.State</option>
                        }
                    }
                </select>
                <span asp-validation-for="LocaleId" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary text-light mr-1" value="Buscar" asp-action="ByCity" />
            <a class="btn btn-secondary" asp-action="ByCity">Limpar Filtro</a>
        </form>
    </div>
    <div class="row">
        <h6>Total de Vendedores: @Model.Sellers.Count()</h6>
    </div>
    <div class="row">
        <table class="table table-hover table-sm">
            <colgroup>
                <col style="width: 1%" />
                <col />
                <col style="width: 20%" />
                <col style="width: 17%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome Completo</th>
                    <th>CPF</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var seller in Model.Sellers)
                {
                    <tr>
                        <td>@seller.Id</td>
                        <td><a asp-action="Details" asp-route-id=@seller.Id>@seller.FullName.ToUpper()</a></td>
                        <td>@seller.Locale</td>
                        <td>@seller.Cpf</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

